[Desktop Entry]
Name=Firefox Aurora
Comment=Browser
Exec=firefox
Icon=firefox-aurora.png
Terminal=false
Type=Application
Categories=Application;Network;
